/* styles.css */

* {
  font-family: sans-serif;
}

#main {
  margin: 2.5% 15%;
}

#header {
  text-align: center;
}

/* Configurações */
#settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.setting-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
}

.setting-item label {
  font-weight: bold;
  margin-left: 0.75rem;
  font-size: 0.9rem;
}

.setting-item select,
.setting-item input {
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
  cursor: pointer;
  border: 0.12rem solid #999;
  border-radius: 1rem;
}

#algorithm {
  width: 14rem;
}

#quantum {
  width: 4rem;
}

#priority {
  width: 9rem;
}

#mode {
  width: 7rem;
}

/* Opções */
#options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

#options-buttons {
  display: flex;
  gap: 2rem;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.25rem;
  font-size: 0.9rem;
  font-weight: bold;
  min-width: 4rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #999;
  cursor: pointer;
}

.upload {
  display: none;
}

/* Formulário */
.form-header {
  display: grid;
  /* colunas serão definidas dinamicamente pelo JS */
  grid-template-columns: repeat(var(--num-cols), 1fr);
  column-gap: 3rem;
  margin-bottom: 0.5rem;
  margin-left: 0.75rem;
}

.form-header span {
  font-weight: bold;
}

#form-container .row {
  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  column-gap: 3rem;
  margin-bottom: 0.5rem;
  align-items: center;
}

#form-container .row > input[readonly] {
  background-color: #999;
  font-weight: bold;
  width: 5rem;
}

#form-container .row input[type="number"] {
  width: 8rem;
  padding: 0.25rem 0.5rem;
  border: 0.12rem solid #999;
  border-radius: 0.5rem;
}

#btn-start {
  display: block;
  margin-top: 1rem;
  width: 100%;
}
