/*
  style.css
  Estilos básicos da interface do simulador de escalonamento de processos.

  Objetivo:
  - Organizar visualmente os elementos da página
  - Garantir responsividade mínima
  - Tornar a interface clara e funcional para o usuário

  Observação:
  O design está focado na organização e não no visual final neste momento.
*/

.sem-file-input {
  display: none;
}

.botoes-container {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.importar-btn {
  display: flex;
  align-items: center;
  padding: 2px 2px;
  width: 26px;
  color: #0f0f0f;
  background: #fdfcfc;
  border: 1px solid #090909;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  justify-content: center;
  
}

.geracao-btn{
  display: flex;
  align-items: center;
  padding: 2px 2px;
  width: 30px;
  color: #0c0b0b;
  background: #f8f4f4;
  border: 1px solid #000000;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  justify-content: center;
}
.geracao-btn:hover,
.importar-btn:hover {
  background: #70736f;

}
